* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;  /* Chrome/Safari */
  -moz-user-select: none;  /* Firefox */
  -ms-user-select: none;  /* IE/Edge */
  user-select: none;  /* Стандартный синтаксис */
  scrollbar-width: none;
}

@font-face {
  font-family: "SF-Pro-Display-Thin";
  src: local("SF-Pro-Display-Thin"),
  url("../public/fonts/SF-Pro-Display-Thin.otf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Lepka";
  src: local("Lepka"), url("../public/fonts/LEPKA.otf") format("truetype");
  font-weight: normal;
}

.main-container {
  overflow: hidden;
  position: relative;
  height: calc(100vh - 60px);
  padding: 30px 50px;
  background: linear-gradient(53.661deg, rgba(255, 255, 255, 0%) 0%, rgba(252, 224, 255, 30%) 50%), linear-gradient(-122.244deg, #FFFFFF 0%, rgba(252, 224, 255, 10%) 100%);
  overflow-x: visible;
}

@media screen and (max-width: 600px){
  .main-container {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 60px);
    padding: 30px 10px;
    background: linear-gradient(53.661deg, rgba(255, 255, 255, 0%) 0%, rgba(252, 224, 255, 30%) 50%), linear-gradient(-122.244deg, #FFFFFF 0%, rgba(252, 224, 255, 10%) 100%);
  }
}

.bg-img {
  position: absolute;
  bottom: -20vh;
  right: -20vw;
  scale: 1;
  transition: scale 1s;
  z-index: -1;
}

.bg-img:hover {
  scale: 1.01;
}

.user-name {
  font-family: "SF-Pro-Display-Thin", sans-serif;
  font-size: 32px;
}

.user-logo-cont {
  transition: 0.3s;
}

h1 {
  z-index: 1;
}

@media screen and (min-width: 700px) {
  h1 {
    font-family: 'Lepka', sans-serif;
    font-size: 128px;
    margin-top: 100px;
    color: transparent;
    -webkit-text-stroke: 0.01px black;
  }
  .user-cont {
    position: absolute;
    right: 70px;
    top: 30px;
  }
  .bg-img {
    width: 800px;
  }
}

@media screen and (min-width: 300px) and (max-width: 700px) {
  h1 {
    font-family: 'Lepka', sans-serif;
    font-size: 64px;
    margin-top: 100px;
    color: transparent;
    -webkit-text-stroke: 0.01px black;
  }
  .user-cont {
    position: absolute;
    right: 20px;
    top: 30px;
  }
  .bg-img {
    width: 500px;
  }
}

.user-cont {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-logo-cont:hover {
  scale: 1.1;
}

/* Стили для модального окна */
.modal-overlay {
  position: fixed; /* Фиксируем поверх всего */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачное затемнение */
  display: flex;
  backdrop-filter: blur(5px);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Высокий z-index для слоя поверх всего */
  animation: fadeIn 0.3s ease-in-out;
}

.modal-content {
  background: transparent;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  animation: slideIn 0.3s ease-in-out;
  position: relative; /* Для позиционирования кнопки закрытия */
}

.register-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 15px;
  width: 30vw;
  min-width: 250px;
  max-width: 350px;
  padding: 20px 40px;
  font-family: SF-Pro-Display-Thin, sans-serif;
  box-shadow: 0 4px 15px 4px rgba(0, 0, 0, 0.25);
}

.register-cont input {
  background: transparent;
  padding: 8px;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 24px;
}

.register-cont input:focus {
  outline: none;
}

.button-cont {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.submit-btn {
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.7);
  color: black;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 24px;
  transition: 0.3s;
  line-height: 100%;
  text-align: center;
}

.submit-btn:hover {
  background: rgba(255, 255, 255, 1);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ff4444;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn:hover {
  background: #cc0000;
}

/* Анимации */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.register-header {
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 40px;
  margin-bottom: 40px;
}

.enter-btn-cont {
  display: flex;
  justify-content: center;
}

.enter-btn {
  color: white;
  font-size: 32px;
  transition: 0.3s;
  cursor: pointer;
}

.enter-btn:hover {
  color: black;
}

.find-btn-cont {
  display: flex;
  align-items: center;
  gap: 10px
}

.find-btn {
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 40px;
  background: white;
  border-radius: 15px;
  padding: 5px 10px;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.3s;
}

.find-btn:hover {
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.1);;
}

.gallery {
  position: absolute;
  z-index: -1;
  display: flex;
  gap: 10px;
  rotate: -25deg;
  top: -120%; /* Фиксируем вертикальное положение относительно экрана */
  left: 0; /* Начинаем с левого края */
  width: max-content; /* Ширина определяется содержимым */
  transform: translateY(-70%); /* Используем твой сдвиг -70% как базовый */
  animation: scrollRight 100s infinite linear; /* Бесконечная анимация вправо */
}

.card {
  width: 200px;
  height: 250px;
  border-radius: 10px;
  background: #D9D9D9;
  flex-shrink: 0; /* Предотвращаем сжатие карточек */
}

@keyframes scrollRight {
  0% {
    transform: translateX(-10%) translateY(-70%); /* Начальная позиция с учётом центрирования */
  }
  100% {
    transform: translateX(-75%) translateY(-70%); /* Сдвиг на 2/3 ширины галереи */
  }
}

.catalog-header {
  font-size: 32px;
  font-family: "Lepka", sans-serif;
  scale: 1;
  transition: 0.5s;
  display: flex;
  width: fit-content;
}

.catalog-header:hover {
  cursor: pointer;
  scale: 1.01;
}

/* Стили для фильтра */
.filter-cont {
  margin-top: 50px;
}

.filter-cont select {
  padding: 8px 16px;
  font-family: 'SF-Pro-Display-Thin', sans-serif;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: transparent;
  cursor: pointer;
}

.filter-cont select:focus {
  outline: none;
  border-color: #000;
}

/* Стили для карточек стилистов */
.cards-cont {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: 20px;
  overflow-y: scroll;
  height: 70%;
}

.stylist-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px dashed darkgray;
  border-radius: 15px;
  padding: 5px;
  height: fit-content;
}

.stylist-name {
  font-family: 'SF-Pro-Display-Thin', sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .cards-cont{
    justify-content: center;
  }

  .filter-cont {
    display: flex;
    justify-content: center;
  }
}

.user-logo-cont-catalog {
  width: 70px;
  height: 70px;
  cursor: pointer;
}

.user-cont-catalog {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

.stylist-info-cont {
  margin-top: 40px;
  height: 90%;
  width: 100%;
  overflow-y: scroll;
}

.stylist-main-info {
  display: flex;
  gap: 10px;
}

.stylist-photo-name {
  padding: 5px;
  border: 1px dashed darkgray;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
}

.stylist-photo {
  width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
  object-fit: fill;
}

.stylist-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stylist-description {
  padding: 10px;
  border-radius: 15px;
  border: 1px dashed darkgray;
  height: fit-content;
}

.stylist-description h2 {
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

.stylist-description p {
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 16px;
  margin-top: 15px;
}

@media screen and (max-width: 840px) {
  .stylist-main-info {
    display: block;
  }

  .stylist-description {
    margin-top: 10px;
  }

  .stylist-photo-name {
    margin: 0 auto;
  }
}

.back-btn {
  cursor: pointer;
  width: fit-content;
  transition: 0.3s;
}

.back-btn:hover {
  scale: 1.1;
}

.contact-btn {
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  cursor: pointer;
  background: white;
  box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.contact-btn:hover {
  font-size: 18px;
}

.appointment {
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
  border: 1px dashed darkgray;
}

.appointment-calendar {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}

.appointment h2 {
  font-family: SF-Pro-Display-Thin, sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}

.stylist-page-header {
  position: absolute;
  width: fit-content;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-family: "Lepka", sans-serif;
  font-size: 32px;
  color: transparent;
  -webkit-text-stroke: 1px black;
  cursor: pointer;
  transition: 0.5s;
}

.stylist-page-header:hover {
  -webkit-text-stroke: 0 transparent;
  color: black;
}

.react-calendar {
  background: rgba(255, 255, 255, 0.3) !important;
  font-family: SF-Pro-Display-Thin, sans-serif !important;
  border-radius: 15px;
  width: 200px;
}

.react-calendar__navigation__label__labelText .react-calendar__navigation__label__labelText--from {
  font-family: SF-Pro-Display-Thin, sans-serif !important;
}

.react-calendar__navigation__arrow .react-calendar__navigation__next2-button {
  border-radius: 15px;
  overflow: hidden;
}

.react-calendar__navigation {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
}

.react-calendar__viewContainer {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}

.city-stylist {
  padding: 10px;
  border-radius: 15px;
  border: 1px dashed darkgray;
  margin-top: 10px;
  font-family: SF-Pro-Display-Thin, sans-serif;
}

.city-stylist h2 {
  font-size: 16px;
}

.time-selection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-x: visible;
  width: 200px !important;
}

.time-selection h3 {
  font-family: 'SF-Pro-Display-Thin', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.time-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-height: 280px; /* Ограничим высоту для прокрутки, если нужно */
  overflow: auto;
  width: 200px;
}

.time-slot {
  padding: 8px 12px;
  border: 1px dashed darkgray;
  border-radius: 10px;
  font-family: 'SF-Pro-Display-Thin', sans-serif;
  font-size: 16px;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.3);
  transition: 0.3s;
  text-align: center;
  overflow-x: visible;
}

.time-slot:hover {
  background: rgba(255, 255, 255, 0.5);
}

.time-slot.selected {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid darkgray;
  font-weight: 600;
}

.name-find {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid darkgray;
  padding: 5px 0;
  font-size: 16px;
  margin-left: 20px;
  line-height: 120%;
  font-family: SF-Pro-Display-Thin, sans-serif;
}